* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
  
  body {
    background: #eeeeee;
    color: #030303;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  header {
    text-align: center;
    padding: 3rem 0;
    background-image: linear-gradient(120deg,  #1A2980 0%, #26D0CE 100%);
    color: white;
  }
  
  header > h1 {
    font-weight: normal;
    font-style: italic;
  }
  
  main {
    padding: 1rem 0;
  }
  
  .container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
  
  .movie {
    width: 100%;
  }

  button{
      padding: 20px;
      margin-top: 20px;
      width: 100%;
      align-self: center;
      color: white;
      background: linear-gradient(120deg, #1A2980 0%, #26D0CE 100%);
  }

  footer{
    background: linear-gradient(120deg, #1A2980 0%, #26D0CE 100%);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
  }
  footer a{
    text-decoration: none;
    color: white;
  }